.flag
{
       font-size: 10px;
       
}

.pravin{
            height: 33.33%;
			box-sizing: border-box;
			
}

.pravin1
{
   background-color:orange;
}

.pravin2
{
   background-color:white;
   padding: 1em;
}

.pravin3
{
   background-color:green;
}

